.red_bull {

  background-color: #00007D;

  &.y-2021 {
    background-color: #0600EF !important;
  }

  &.y-2020 {
    background-color: #0600EF !important;
  }

  &.y-2019 {
    background-color: #1E41FF !important;
  }

  &.y-2018 {
    background-color: #00327D !important;
  }

  &.y-2015 {
    background-color: #4F1AAB !important;
  }
}

.mercedes {
  background-color: #00CFBA;

  &.y-2021 {
    background-color: #00d2be !important;
  }

  &.y-2020 {
    background-color: #00D2BE !important;
  }

  &.y-2019 {
    background-color: #00D2BE !important;
  }

  &.y-2018 {
    background-color: #00D2BE !important;
  }

}

.mclaren {
  background-color: #FF7B08;
}

.ferrari {
  background-color: #C30000;

  &.y-2021 {
    background-color: #dc0000 !important;
  }

  &.y-2020 {
    background-color: #DC0000 !important;
  }

  &.y-2019 {
    background-color: #DC0000 !important;
  }

  &.y-2018 {
    background-color: #DC0000 !important;
  }

}

.aston_martin {
  background-color: #006f62;

  &.y-2021 {
    background-color: #006f62 !important;
  }
}

.alpine {
  background-color: #0090ff;

  &.y-2021 {
    background-color: #0090ff !important;
  }
}

.alphatauri {
  background-color: #2b4562;

  &.y-2021 {
    background-color: #2b4562 !important;
  }

  &.y-2020 {
    border: 0.5px grey solid;
    background-color: #FFFFFF !important;
  }
}

.alfa {
  background-color: #900000;

  &.y-2021 {
    background-color: #900000 !important;
  }

  &.y-2020 {
    background-color: #960000 !important;
  }

  &.y-2019 {
    background-color: #9B0000 !important;
  }
}

.williams {
  background-color: #FFFFFF;
  border: 0.5px grey solid;

  &.y-2021 {
    background-color: #005aff !important;
    border: 0px
  }

  &.y-2020 {
    background-color: #0082FA !important;
    border: 0px
  }

}

.haas {
  background-color: #6C0000;

  &.y-2021 {
    background-color: #ffffff !important;
    border: 0.5px grey solid;
  }

  &.y-2020 {
    background-color: #787878 !important;
  }

  &.y-2019 {
    background-color: #F0D787 !important;
    // border: 0.5px grey solid;
  }

  &.y-2018 {
    background-color: #5A5A5A !important;
  }
}

.racing_point {
  background-color: #F596C8;

  &.y-2020 {
    background-color: #F596C8 !important;
  }

  &.y-2019 {
    background-color: #F596C8 !important;
  }
}

.renault {
  background-color: #FFD800;

  &.y-2020 {
    background-color: #FFF500 !important;
  }

  &.y-2019 {
    background-color: #FFF500 !important;
  }

  &.y-2018 {
    background-color: #FFF500 !important;
  }

}

.toro_rosso {
  background-color: #0000FF;

  &.y-2019 {
    background-color: #469BFF !important;
  }

  &.y-2018 {
    background-color: #0032FF !important;
  }

  &.y-2015{
    background-color: #0005C1 !important;
  }
}

.force_india {
  background-color: #FF80C7;

  &.y-2018 {
    background-color: #F596C8 !important;
  }

}

.sauber {
  background-color: #006EFF;

  &.y-2018 {
    background-color: #9B0000 !important;
  }

  &.y-2015 {
    background-color: #0063FF !important;
  }
}

.lotus_f1 {
  background-color: #FFB800;
}

.marussia{
  background-color: #6E0000;
}

.caterham {
  background-color: #004225;
}