.red-bull {
  background-color: #1E41FF;
}

.mercedes {
  background-color: #00d2be;
}

.mclaren {
  background-color: #ff8700;
}

.ferrari {
  background-color: #dc0000;
}

.aston-martin {
  background-color: #006f62;
}

.alpine {
  background-color: #0090ff;
}

.alpha-tauri {
  background-color: #2b4562;
}

.alfa-romeo {
  background-color: #900000;
}

.williams {
  background-color: #005aff;
}

.haas {
  background-color: #ffffff;
  border: 0.5px grey solid;
}
