.red_bull {

  background-color: #00007D !important;
  color: #eaeaff;

  &.y-2021 {
    background-color: #3631c5 !important;
    color: #ecf3f7;
  }

  &.y-2020 {
    background-color: #0600EF !important;
    color: #d1e8f5;
  }

  &.y-2019 {
    background-color: #1E41FF !important;
    color: #d1e8f5;
  }

  &.y-2018 {
    background-color: #00327D !important;
    color: #dfe6f1 !important;
  }

  &.y-2015 {
    background-color: #4F1AAB !important;
    color: #ece8f3 !important;
  }
}

.mercedes {
  background-color: #00CFBA !important;
  color: #1D4044;

  &.y-2021 {
    background-color: #00d2be !important;
  }

  &.y-2020 {
    background-color: #00D2BE !important;
  }

  &.y-2019 {
    background-color: #00D2BE !important;
  }

  &.y-2018 {
    background-color: #00D2BE !important;
  }

}

.mclaren {
  background-color: #ff7b08e0 !important;
  color: #f8f7ea;
}

.ferrari {
  background-color: #C30000 !important;
  color: #f7e8e8;

  &.y-2021 {
    background-color: #c01919 !important;
    color: #ffd2d2;
  }

  &.y-2020 {
    background-color: #DC0000 !important;
    color: #ffd2d2;
  }

  &.y-2019 {
    background-color: #DC0000 !important;
    color: #ffd2d2;
  }

  &.y-2018 {
    background-color: #DC0000 !important;
    color: #ffd2d2;
  }

}

.aston_martin {
  background-color: #006f62 !important;
  color: #ffffff;

  &.y-2021 {
    background-color: #006f62 !important;
  }
}

.alpine {
  background-color: #0090ff;
  color: #ddeffc;

  &.y-2021 {
    background-color: #0091ffc2 !important;
  }
}

.alphatauri {
  background-color: #2b4562 !important;
  color: #e3e8ec;

  &.y-2021 {
    background-color: #2b4562 !important;
  }

  &.y-2020 {
    border: 0.5px grey solid;
    background-color: #FFFFFF !important;
    color: #424040;
  }
}

.alfa {
  background-color: #900000 !important;
  color: #f0d8d8;

  &.y-2021 {
    background-color: #811d1d !important;
  }

  &.y-2020 {
    background-color: #960000 !important;
  }

  &.y-2019 {
    background-color: #9B0000 !important;
  }
}

.williams {
  background-color: #FFFFFF !important;
  color: #424040;
  border: 0.5px grey solid;

  &.y-2021 {
    background-color: #0059ff !important;
    color: #e8effc;
    border: 0px
  }

  &.y-2020 {
    background-color: #0082FA !important;
    color: #e5e9f1;
    border: 0px
  }

}

.haas {
  background-color: #6C0000 !important;
  color: #f8eaea;

  &.y-2021 {
    background-color: #ffffff !important;
    color: #424040;
    border: 0.5px grey solid;
  }

  &.y-2020 {
    background-color: #787878 !important;
    color: #ececec;
  }

  &.y-2019 {
    background-color: #F0D787 !important;
    color: #3d3722;
    // border: 0.5px grey solid;
  }

  &.y-2018 {
    background-color: #5A5A5A !important;
    color: #e6e6e6;
  }
}

.racing_point {
  background-color: #F596C8 !important;
  color: #ffffff;

  &.y-2020 {
    background-color: #F596C8 !important;
  }

  &.y-2019 {
    background-color: #F596C8 !important;
  }
}

.renault {
  background-color: #FFD800 !important;
  color: #2e2700;
}

.toro_rosso {
  background-color: #0000FF !important;
  color: #e8e8fa;

  &.y-2019 {
    background-color: #469BFF !important;
    color: rgb(255, 255, 255) !important;
  }

  &.y-2018 {
    background-color: #0032FF !important;
    color: #dde3fa !important;
  }

  &.y-2015 {
    background-color: #0005C1 !important;
    color: #eceffa !important;
  }
}

.force_india {
  background-color: #FF80C7 !important;
  color: #ffffff;

  &.y-2018 {
    background-color: #F596C8 !important;
  }

}

.sauber {
  background-color: #006EFF !important;
  color: #e2ebf8;

  &.y-2018 {
    background-color: #9B0000 !important;
  }

  &.y-2015 {
    background-color: #0063FF !important;
  }
}

.lotus_f1 {
  background-color: #FFB800 !important;
  color: #332f25;
}

.marussia {
  background-color: #6E0000 !important;
  color: #d8d8d8;
}

.manor {
  background-color: #6E0000 !important;
  color: #d8d8d8;
}

.caterham {
  background-color: #004225 !important;
  color: #e4f7ee;
}

.no-border {
  border: 0px !important
}

.drop-text-light {
  color: #1A202C;
  font-weight: 500;

  &.disabled-option {
    color: #dfe4ee;
  }
}

.drop-text-dark {
  color: #EEEFF0;
  font-weight: 500;

  &.disabled-option {
    color: #464646;
  }
}

.right-select {
  margin-left: 4px;
  border-radius: 1.5rem;
  padding-left: 0px;
  border: 0px !important;
}

.left-select {
  margin-right: 4px;
  border-radius: 1.5rem;
  padding-right: 0px;
  border: 0px !important;
}